/* client/src/scss/api/_account-api.scss */

div#LoginAPI, div#RegisterAPI, div#ForgotPasswordAPI, div#ResetPasswordAPI {
  width: 100%;
  max-width: $phone-max-width;
  background: $background-tertiary;
  padding: $padding-m;
  box-shadow: $box-shadow-primary;
  margin: auto;
  z-index: 1;
}

@media screen and (max-width: #{$tablet-max-width}) {
  div#LoginAPI, div#RegisterAPI, div#ForgotPasswordAPI, div#ResetPasswordAPI {
    padding: $padding-s;
  }
}

div.account-section {
  padding: $padding-m;
  border: $border-primary;
  border-bottom: 3px solid $color-primary;
  border-top: 3px solid $color-primary;
  margin-bottom: $margin-l;
  box-shadow: $box-shadow-primary;
  button {
    background: $background-primary;
    border: $border-primary;
  }
  button:hover {
    background: linear-gradient(#{$color-primary}, #{$color-secondary});
  }
  h3 {
    text-align: center;
  }
  div.role {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: $margin-m auto;
    h4 {
      grid-column: span 2;
    }
    fieldset {
      margin: 0;
    }
    label {
      color: $text-body;
    }
  }
  div.operators {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    h4 {
      grid-column: span 2;
    }
  }
}
div#notifications {
  margin-top: $margin-l;
}
div#SetDefendersAPI, div#SetAttackersAPI {
  fieldset > div {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    p, span, button {
      grid-column: span 10;
    }
    div {
      input {
        visibility: hidden;
      }
      label {
        width: 100%;
      }
      label img {
        width: 100%;
        transition: all 0.3s ease;
        filter: opacity(0.4);
      }
      label img:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: all 0.3s ease;
      }
      input.attackers-form__input--checked + label img, input.defenders-form__input--checked + label img {
        filter: opacity(1);
        transform: scale(1.1);
      }
    }
  }
}
div.account-section#account-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $margin-s;
  grid-row-gap: $margin-m;
  h3 {
    grid-column: span 2;
  }
  div.update {
    p {
      color: $text-heading;
      font-size: $font-heading3;
      text-align: left;
      margin-bottom: 0;
    }
    fieldset {
      margin: 0;
      label {
        color: $text-body;
      }
    }
    button {
      margin-top: 0;
    }
  }
  margin-bottom: $margin-s;
}
div.account-section--danger {
  margin-top: $margin-l;
  border: 3px solid $color-danger;
  p {
    text-align: center;
  }
  button {
    margin: auto;
    display: block;
    margin-top: $margin-s;
  }
  button:hover {
    background: $color-danger;
  }
}

@media screen and (max-width: #{$laptop-max-width}) {
  div.operators {
    grid-template-columns: 1fr !important;
    h4 {
      grid-column: span 1 !important;
    }
    div form fieldset div {
      grid-template-columns: repeat(12, 1fr) !important;
      p, span, button {
        grid-column: span 12 !important;
      }
    }
  }
}

@media screen and (max-width: #{$tablet-max-width}) {
  div.operators {
    grid-template-columns: 1fr !important;
    h4 {
      grid-column: span 1 !important;
    }
    div form fieldset div {
      grid-template-columns: repeat(8, 1fr) !important;
      p, span, button {
        grid-column: span 8 !important;
      }
    }
  }
}

@media screen and (max-width: #{$phone-max-width}) {
  div.account-section {
    padding: $padding-s;
    div.role {
      display: flex;
      flex-direction: column;
    }
    div.operators form fieldset div {
      grid-template-columns: repeat(5, 1fr) !important;
      p, span, button {
        grid-column: span 5 !important;
      }
    }
    div.operators form fieldset {
      padding: 0;
    }
  }
  div.account-section#account-info {
    display: flex;
    flex-direction: column;
  }
}
