/* client/src/scss/api/_create-strategy.scss */

div#CreateStrategiesAPI {
  margin-bottom: $margin;
  width: 100%;
  min-width: 1000px;
  overflow-x: visible;
  h4.create-strategy-heading {
    color: $theme-dark;
    text-decoration: underline;
    text-align: left;
    cursor: pointer;
    display: inline;
  }
  div.add-map {
    border: 1px solid $theme-dark;
    padding: $padding;
    margin-top: $margin;
    div.map-selector {
      select.map-selector__input {
        padding: calc(#{$padding} / 2) $padding;
        color: $theme-dark;
        * {
          color: $theme-dark;
        }
      }
    }
    h2.add-map__heading {
      text-align: center;
      color: $theme-dark;
      margin: $margin auto;
    }
    div.type-selector {
      select.type-selector__input {
        display: block;
        margin: auto;
        margin-bottom: $margin;
        color: $theme-dark;
        padding: calc(#{$padding} / 2) $padding;
        width: 128px;
        * {
          color: $theme-dark;
        }
      }
    }
    div.add-map__header {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 16px;
      > div:nth-child(1) {
        padding: $padding;
        div.site-selector {
          select.site-selector__input {
            padding: calc(#{$padding} / 2) $padding;
            width: 100%;
            display: block;
            margin: auto;
            color: $theme-dark;
            * {
              color: $theme-dark;
            }
          }
        }
        div.pagination {
          margin-top: $margin;
        }
        input.add-map__name-input {
          margin-top: $margin;
          padding: calc(#{$padding} / 2) $padding;
          color: $theme-dark;
          width: 100%;
        }
        div.add-map__strategy-buttons {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 4px;
          margin-top: $margin;
          button.add-map__strategy-button {
            padding: calc(#{$padding} / 2) $padding;
            color: $theme-dark;
            background: none;
            border: 1px solid $theme-dark;
          }
          button.add-map__strategy-button:hover {
            cursor: pointer;
          }
        }
      }
      > div:nth-child(2) {
        grid-column: span 2;
      }
      div.lineup {
        padding: calc(#{$padding} / 2);
        border: 1px solid $theme-dark;
        h4.lineup__heading {
          color: $theme-dark;
          text-align: center;
          margin-bottom: $margin;
        }
        div.role-form, div.operator-form, div.utility-form, div.operator-images {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          margin-bottom: calc(#{$margin} / 2);
          grid-gap: 4px;
          select.role-form__input, select.operator-form__input, select.utility-form__input {
            width: 100%;
            color: $theme-dark;
            padding: calc(#{$padding} / 4);
            * {
              color: $theme-dark;
            }
          }
          img.operator-images__operator {
            width: 100%;
            height: 144px;
            overflow: hidden;
            object-fit: cover;
            object-position: 50% -32px;
            transition: all 0.1s ease;
          }
          img.operator-images__operator:hover {
            cursor: pointer;
            transform: scale(1.02);
            box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.4);
            transition: all 0.1s ease;
          }
        }
      }
    }
    div.add-map__body {
      margin-top: $margin;
      width: 100%;
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: $margin;
      main.canvas {
        width: 933px;
        min-height: 700px;
        border: 1px solid $theme-dark;
        div.canvas__controls {
          display: grid;
          grid-template-columns: repeat(2, 1fr) 156px;
          select.floor-selector {
            padding: calc(#{$padding} / 2) $padding;
            border: none;
            border-right: 1px solid $theme-dark;
            color: $theme-dark;
            * {
              color: $theme-dark;
            }
          }
          div.pagination {
            border: none;
          }
          div.scene-controls {
            display: flex;
            width: 80%;
            margin: auto;
            color: $theme-dark;
            justify-content: space-around;
            align-items: center;
            a {
              color: $theme-dark;
              font-size: 22px;
              padding: calc(#{$padding} / 2) $padding;
            }
            a:hover {
              cursor: pointer;
            }
          }
        }
        div.blueprint-form {
          width: 100%;
          height: 700px;
          position: relative;
          background-position: center;
          background-size: cover;
          z-index: 0;
          div.position-overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            div.drag-item {
              width: 60px;
              height: 60px;
              position: absolute;
              z-index: 1;
              background-size: cover;
              background-position: center;
              transition: all 0.3s ease;
            }
            div.drag-item.drag {
              transition: all 0.05s ease;
              transform: scale(0.8);
            }
            div.drag-item:hover {
              cursor: pointer;
            }
          }
        }
      }
      aside.aside {
        div.toolbar {
          padding: $padding;
          border: 1px solid $theme-dark;
          div.manage {
            h3, h4 {
              text-align: left;
              margin-top: $margin;
              color: $theme-dark;
            }
            img {
              width: 250px;
              height: 150px;
              object-fit: cover;
              object-position: 50% 20%;
              display: block;
              margin: auto;
            }
          }
        }
      }
    }
  }
}
