/* client/src/scss/api/_delete-team.scss */

div#DeleteTeamAPI {
  display: flex;
  justify-content: center;
  button {
    padding: calc(#{$padding} / 2) $padding;
    margin-top: calc(#{$margin} * 2);
    color: $theme-dark;
  }
}
