/* scss/api/_delete-user.scss */

div#DeleteUserAPI {
  div {
    p {
      color: $subtle-accent;
      font-size: $small;
    }
    button {
      padding: calc(#{$padding} / 2) $padding;
      margin-top: $margin;
      color: $theme-dark;
    }
  }
}
