/* client/src/scss/api/_edit-strategies.scss */

div#EditStrategiesAPI {
  background: $theme-white;
  padding: $padding;
  margin-top: $margin;
  h3 {
    color: $theme-dark;
    text-align: center;
  }
}
