/* scss/api/_general-statistics.scss */

div#GeneralStatisticsAPI {
  background: $theme-dark;
  border-radius: $border-radius;
  padding: $padding;
  margin: calc(#{$margin} * 2) auto;
  max-width: 1200px;
  display: block;
  h2.statistics-title {
    font-size: $heading1;
    text-align: center;
    color: $heading;
  }
  div.statistics-container {
    img.user-image {
      display: block;
      margin: auto;
      border-radius: 100%;
    }
    h3.stats-grid__heading {
      color: $accent;
      font-size: $heading3;
    }
    div.stats-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      div.stats-box {
        border-right: $light-border;
        border-left: $light-border;
        padding: $padding;
        h4.stats__heading {
          color: $subtle-accent;
          font-size: $text;
        }
        div.stat--main {
          display: flex;
          flex-direction: column;
          width: 100%;
          text-align: center;
          padding: $padding;
          p.stat__label {
            font-size: $text;
            color: $light;
            text-align: center;
          }
          span.stat__value {
            font-size: $heading2;
            color: $accent;
          }
        }
        div.stat {
          display: flex;
          justify-content: space-between;
          p.stat__label {
            color: $light;
          }
          span.stat__value {
            color: $subtle-accent;
          }
        }
      }
    }
  }
}

// PHONE
@media screen and (max-width: #{$phone-max-width}) {
  div#GeneralStatisticsAPI {
    div.statistics-container {
      div.stats-grid {
        grid-template-columns: 1fr;
      }
    }
  }
}
