/* client/src/scss/api/_manage-team.scss */

div#ManageTeamAPI {
  background: $theme-dark;
  max-width: 1200px;
  display: block;
  margin: auto;
  color: $accent;
  div.manage-team-member {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    padding: $padding;
    border-radius: $border-radius;
    h4.manage-team-member__username {
      color: $accent;
    }
    p.manage-team-member__status {
      font-size: $small;
      color: $light;
      text-align: center;
      padding: calc(#{$padding} / 2) $padding;
      text-align: center;
    }
    select.manage-team-member__update-status {
      padding: calc(#{$padding} / 2) $padding;
      text-align: center;
      display: block;
      margin: auto;
    }
    button.manage-team-member__button {
      display: block;
      margin: auto;
      padding: calc(#{$padding} / 2) $padding;
    }
  }
}

@media screen and (max-width: #{$phone-max-width}) {
  div#ManageTeamAPI {
    div.manage-team-member {
      align-items: center;
      h4.manage-team-member__username {
        color: $accent;
        font-size: $text;
      }
    }
  }
}
