/* client/src/scss/api/_manage-team.scss */

div#ManageTeamAPI {
  background: $background-dark;
  max-width: 1200px;
  display: block;
  margin: auto;
  color: $accent;
  div.manage-team-member {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding: $padding;
    border-radius: $border-radius;
    h4.member-username {
      color: $accent;
    }
    p.member-status {
      font-size: $small;
      color: $light;
      text-align: center;
      padding: calc(#{$padding} / 2) $padding;
      text-align: center;
    }
    select.member-update-status {
      padding: calc(#{$padding} / 2) $padding;
      text-align: center;
      display: block;
      margin: auto;
    }
    button {
      display: block;
      margin: auto;
      padding: calc(#{$padding} / 2) $padding;
    }
  }
}
