/* scss/api/_operator-statistics.scss */

div#OperatorStatisticsAPI {
  background: $theme-dark;
  border-radius: $border-radius;
  padding: $padding;
  margin: calc(#{$margin} * 2) auto;
  max-width: 1200px;
  display: block;
  h2.statistics-title {
    font-size: $heading1;
    text-align: center;
    color: $heading;
    margin-bottom: $margin;
  }
  div.statistics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4px;
    input {
      grid-column: span 4;
      max-width: 400px;
      display: block;
      margin: $margin auto;
      padding: calc(#{$padding} / 2) $padding;
      color: $theme-dark;
    }
    button.statistics__button {
      padding: $padding;
      color: $theme-dark;
    }
    button.statistics__button:hover {
      cursor: pointer;
    }
    div.operator-statistics {
      grid-column: span 2;
      padding: calc(#{$padding} / 2);
      background: $theme-accent;
      display: grid;
      grid-template-columns: 64px 1fr;
      grid-gap: 4px;
      div.operator-info {
        img.operator-info__image {
          display: block;
          width: 100%;
        }
        h3.operator-info__name {
          text-align: center;
          color: $subtle-accent;
          font-size: $text;
        }
      }
      div.operator-stats {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        div.operator-stats__stat {
          text-align: center;
          font-size: $small;
          p.operator-stats__label {
            color: $light;
          }
          span.operator-stats__value {
            color: $accent;
          }
        }
      }
    }
  }
}

// PHONE
@media screen and (max-width: #{$phone-max-width}) {
  div#OperatorStatisticsAPI {
    padding: $phone-padding;
    margin: calc(#{$phone-margin} / 2) auto;
    div.statistics {
      button.statistics__button {
        padding: calc(#{$phone-padding} / 2) $phone-padding;
        grid-column: span 2;
      }
      div.operator-statistics {
        grid-column: span 4;
        padding: calc(#{$phone-padding} / 2);
        div.operator-info {
          h3.operator-name {
            font-size: $phone-text;
          }
        }
        div.operator-stats {
          grid-template-columns: repeat(3, 1fr);
          div.operator-stats__stat {
            font-size: $phone-small;
          }
        }
      }
    }
  }
}
