/* scss/api/_seasonal-statistics.scss */

div#SeasonalStatisticsAPI {
  background: $theme-dark;
  border-radius: $border-radius;
  padding: $padding;
  margin: calc(#{$margin} * 2) auto;
  max-width: 1200px;
  display: block;
  h2.statistics-title {
    font-size: $heading1;
    text-align: center;
    color: $heading;
    margin-bottom: $margin;
  }
  div.statistics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    div.stat {
      border-right: $light-border;
      border-left: $light-border;
      padding: $padding;
      text-align: center;
      p.stat__label {
        font-size: $text;
        color: $light;
      }
      h4.stat__value {
        font-size: $heading2;
        color: $accent;
        margin-bottom: $margin;
      }
    }
    div.stat--main {
      display: block;
      width: 100%;
      text-align: center;
      padding: $padding;
      p.stat__label {
        font-size: $text;
        color: $light;
      }
      h4.stat__value {
        font-size: $heading2;
        color: $accent;
      }
      p.stat__label--secondary {
        font-size: $small;
      }
    }
  }
}

// PHONE
@media screen and (max-width: #{$phone-max-width}) {
  div#SeasonalStatisticsAPI {
    padding: $phone-padding;
    margin: calc(#{$phone-margin} / 2) auto;
    div.statistics {
      grid-template-columns: 1fr;
      div.stat {
        border: none;
        border-top: $light-border;
        border-bottom: $light-border;
      }
    }
  }
}
