/* scss/api/_set-defender-role.scss */

div#SetDefenderRoleAPI {
  form.form#set-defender-role-form {
    fieldset.form__fieldset {
      border: none;
      label.form__label {
        display: inline;
        color: $light;
        font-size: $small;
        width: 100%;
        padding: calc(#{$padding} / 2);
      }
      select.form__input {
        margin-left: auto;
        margin-right: 0;
        float: right;
        font-size: $small;
        padding: calc(#{$padding} / 2);
      }
    }
  }
}

@media screen and (max-width: #{$phone-max-width}) {
  div#SetDefenderRoleAPI {
    margin-bottom: $phone-margin;
    fieldset.form__fieldset {
      label.form__label {
        width: 100%;
      }
      select.form__input {
        float: left;
        width: 100%;
        display: block;
      }
    }
  }
}
