/* client/src/scss/api/_statistics-api.scss */

div#GeneralStatisticsAPI {
  grid-column: span 2;
}
div#OperatorStatisticsAPI {
  grid-column: span 3;
}
h2.statistics-title {
  text-align: center;
  margin-bottom: $margin;
}
h3.stats-grid__heading {
  margin-bottom: calc(#{$margin} * 2);
  margin-top: calc(#{$margin} * 4);
}
h4.stats__heading {
  text-align: center;
  color: $text-secondary;
}
img.user-image {
  display: block;
  max-width: 50px;
}
div.stats-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: calc(#{$margin} * 2);
}
div.stats-box {
  padding: calc(#{$padding} * 2);
  box-shadow: $box-shadow-secondary;
  transition: all 0.3s ease;
  border-radius: $border-radius;
}
div.stats-box:hover {
  box-shadow: $box-shadow-tertiary;
  transform: translateY(calc(-#{$margin}));
  transition: all 0.3s ease;
}
div.stat {
  display: flex;
  justify-content: space-between;
  p.stat__label {
    color: $text-tertiary;
  }
}
div.stat--main {
  display: block;
  text-align: center;
  margin-top: $margin;
  margin-bottom: $margin;
  span.stat__value {
    color: $color-primary;
    font-size: $heading3;
  }
}

div#GeneralStatisticsAPI, div#SeasonalStatisticsAPI, div#OperatorStatisticsAPI {
  padding: calc(#{$padding} * 3);
  border: 1px solid #dedede;
  border-radius: 4px;
  background: $background;
}

div#SeasonalStatisticsAPI {
  div.stat.stat--main {
    display: block;
    margin-bottom: calc(#{$margin}* 3);
    h3.stat__value {
      font-size: $heading2;
      color: $color-secondary;
      margin-top: $margin;
      margin-bottom: $margin;
    }
    p.stat__label {
      font-size: $heading3;
    }
    p.stat__label--secondary {
      font-size: $heading4;
    }
  }
  div.stat {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: $margin;
  }
  h3.stat__value--main {
    grid-column: span 2;
    color: $color-primary;
  }
  h4.stat__value {
    text-align: right;
  }
}

div#OperatorStatisticsAPI {
  div.statistics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  div.controls {
    grid-column: span 2;
  }
  button.statistics__button {
    display: inline-block;
    margin: 0 $margin;
  }
  input.form__input {
    display: inline;
    margin: $margin;
  }
  div.operator-statistics {
    display: grid;
    grid-template-columns: 90px 1fr;
    grid-gap: $margin;
    border: $border-primary;
    transition: all 0.3s ease;
    div.operator-info {
      img.operator-info__image {
        width: 100%;
      }
      h3.operator-info__name {
        font-size: $heading4;
        text-align: center;
      }
    }
    div.operator-stats {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding: calc(#{$margin} * 2) 0;
      div.operator-stats__stat {
        margin: 0;
        p.operator-stats__label {
          text-align: center;
        }
        span.operator-stats__value {
          text-align: center;
          width: 100%;
          display: block;
          font-size: $heading4;
          color: black;
        }
      }
    }
  }
  div.operator-statistics:hover {
    box-shadow: $box-shadow-secondary;
    transition: all 0.3s ease;
  }
}
