/* client/src/scss/api/_statistics-api.scss */



p.statistics-failure, p.text-error {
  padding: $padding-s;
  margin-top: $margin-m;
  text-align: center;
}
div#GeneralStatisticsAPI {
  grid-column: span 2;
}
div#SeasonalStatisticsAPI {
  background-color: $background-quaternary;
  filter: blur(1);
  border-radius: $border-radius;
  box-shadow: $box-shadow-secondary;
  h2.statistics-title {
    color: $text-heading;
  }
  h3 {
    color: $text-subtle;
  }
  div#seasonal-stats-inside {
    padding: $padding-s;
    padding-top: $padding-m;
    height: 100%;
  }
  div.statistics {
    display: flex;
    flex-direction: column;
  }
  div.stat--main {
    width: 100%;
    height: 256px;
    border-radius: $border-radius;
    margin: $margin-m auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease;
    background: $background-gradient-primary;
    overflow: hidden;
    h3 {
      font-size: $font-title;
      color: $text-heading;
      z-index: 2;
    }
    p {
      font-size: $font-heading1;
      z-index: 2;
      margin-top: 4px;
      color: $text-heading;
    }
    p.stat__label--secondary {
      font-size: $font-heading3;
      margin-top: 0;
      color: $text-heading;
      z-index: 2;
    }
  }
  div.stat--main::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(1.1) translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: $OPERATION_BACKGROUND_IMAGE;
    background-size: cover;
    background-position: center;
    z-index: 1;
    opacity: 0.195;
  }
  div.stat {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: $margin-s;
    margin-left: $margin-s;
    h3.stat__value--main {
      grid-column: span 2;
      font-weight: 500;
    }
    p.stat__label {
      color: white;
      opacity: 0.7;
    }
  }
}
div#OperatorStatisticsAPI {
  grid-column: span 3;
  div.statistics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $margin-s;
    div.controls {
      grid-column: span 3;
      margin: $margin-m auto;
      width: 100%;
      button {
        margin: $margin-s;
        padding: $button-padding-big;
        background: $background-quaternary;
      }
      button:hover {
        box-shadow: $box-shadow-secondary;
      }
      input {
        margin-right: $margin-s;
      }
      input:focus {
        box-shadow: $box-shadow-secondary;
      }
    }
    div.operator-statistics {
      display: grid;
      grid-template-columns: 72px 1fr;
      background: $background-secondary;
      transition: all 0.3s ease;
      border-radius: $border-radius;
      div.operator-info {
        padding: 8px;
        img {
          width: 100%;
        }
        h3 {
          font-size: $font-body;
          text-align: center;
        }
      }
      div.operator-stats {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 8px;
        padding: $padding-s;
        div.operator-stats__stat {
          p {
            font-size: $font-small;
          }
          span {
            color: $text-accent;
          }
        }
      }
    }
    div.operator-statistics:hover {
      box-shadow: $box-shadow-secondary;
      transition: all 0.3s ease;
    }
  }
}

div.statistics-api {
  padding: $padding-m;
}
h2.statistics-title, h3.statistics-title {
  color: $text-heading;
  text-align: center;
  font-weight: 500;
}
img.user-image {
  width: 64px;
}
h3.stats-grid__heading {
  width: 100%;
  color: $text-heading;
  font-weight: 500;
  margin-bottom: $margin-s;
}
div.stats-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: $margin-m;
  margin-bottom: $margin-m;
}
div.stats-box {
  padding: $padding-m;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  border-radius: $border-radius;
  background: $background-quaternary;
  //box-shadow: $box-shadow-tertiary;
}
div.stat {
  display: flex;
  flex-direction: column;
  margin-bottom: $margin-xs;
  p.stat__label {
    color: $text-accent;
    font-weight: 500;
  }
  span.stat__value {
    color: $text-subtle;
  }
}
div.progress-circle {
  display: flex;
  margin: $margin-s auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: $border-radius;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  transition: all 0.5s ease;
  box-shadow: $box-shadow-secondary;
  p {
    text-align: center;
    z-index: 2;
  }
  p.progress-circle__value {
    font-size: $font-heading1;
    color: $text-heading;
    z-index: 2;
  }
  i.progress-icon {
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 72pt;
    text-align: right;
    opacity: 0.2;
  }
}
div.progress-circle__overlay {
  height: 100%;
  width: 100%;
  background: $background-gradient-primary;
  opacity: 0.7;
  padding: $padding-s;
  border-radius: $border-radius;
}
h4.stats__heading {
  text-align: center;
  margin-top: calc(-#{$margin-s});
  margin-bottom: $margin-s;
}

div.statistics-api--rows {
  div.statistics {
    display: flex !important;
    grid-gap: 0 !important;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    div.operator-statistics {
      background: transparent !important;
      margin: 0;
      div.operator-info {
        img {
          width: 48px !important;
          display: block;
          margin: auto;
        }
        h3 {
          font-size: $font-small;
          color: $text-accent;
        }
      }
      div.operator-stats {
        grid-template-columns: repeat(8, 1fr) !important;
        div.operator-stats__stat {
          display: flex;
          flex-direction: column;
          justify-content: center;
          p {
            color: $text-subtle;
          }
          span {
            color: $text-accent !important;
            font-weight: 500;
          }
        }
      }
    }
    div.operator-statistics:hover {
      transform: none !important;
      box-shadow: $box-shadow-primary;
      background: $background-gradient-primary !important;
    }
  }
}

@media screen and (max-width: #{$laptop-max-width}) {
  div#GeneralStatisticsAPI {
    grid-column: span 3;
  }
  div#SeasonalStatisticsAPI {
    grid-column: span 3;
    div.statistics {
      display: grid;
      grid-template-columns: 2fr repeat(2, 1fr);
      div.stat {
        justify-content: center;
        display: flex;
        flex-direction: column;
        h3 {
          margin-bottom: $margin-s;
        }
      }
    }
  }
  div#OperatorStatisticsAPI {
    div.statistics {
      grid-template-columns: repeat(2, 1fr);
      div.controls {
        grid-column: span 2;
      }
    }
  }
  div.stats-grid {
    grid-gap: $margin-s;
  }
  div.stat {
    p {
      font-size: $font-small;
    }
  }
}
@media screen and (max-width: #{$tablet-max-width}) {
  div#GeneralStatisticsAPI {
    padding: $padding-s;
    div.stats-box {
      padding: $padding-s;
      padding-top: $padding-m;
    }
  }
  div#SeasonalStatisticsAPI {
    padding: $padding-s;
    div.stat {
      padding-left: $padding-s;
    }
  }
  div#OperatorStatisticsAPI {
    padding: $padding-s;
    div.statistics {
      grid-template-columns: 1fr;
      div.controls {
        grid-column: span 1;
        input {
          width: 100%;
          max-width: 400px;
          display: block;
          margin: auto;
          margin-bottom: $margin-s;
        }
      }
    }
  }
  div.statistics-api--rows {
    div.statistics {
      div.operator-statistics {
        grid-template-columns: 40px 1fr !important;
        div.operator-info {
          padding: 0 !important;
          display: flex;
          align-items: center;
          img {
            width: 100% !important;
            margin: auto !important;
          }
        }
        div.operator-stats {
          padding-left: 8px !important;
          padding-right: 8px !important;
          display: flex !important;
          justify-content: space-between;
          div.operator-stats__stat {
            p {
              font-size: $font-small;
            }
            span {
              font-size: $font-small;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: #{$phone-max-width}) {
  div.stats-grid {
    display: flex !important;
    flex-direction: column;
  }
  div#SeasonalStatisticsAPI {
    div.statistics {
      grid-template-columns: repeat(2, 1fr);
      div.stat--main {
        grid-column: span 2;
      }
    }
  }
  div#OperatorStatisticsAPI {
    padding: 0;
    div.statistics {
      grid-gap: 0;
      div.controls {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        input {
          grid-column: span 2;
        }
        button#rows {
          display: none;
        }
      }
      div.operator-statistics {
        background: transparent;
        margin: 0;
        padding: 2px $padding-s;
        border-top: $border-primary;
        border-bottom: $border-primary;
        grid-template-columns: 40px 1fr;
        overflow-x: auto;
        div.operator-info {
          padding: 2px;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          h3 {
            font-size: $font-small;
          }
        }
        div.operator-stats {
          display: flex;
          padding: 8px;
          div.operator-stats__stat {
            padding: 0 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            span {
              font-size: $font-small;
            }
          }
        }
      }
      div.operator-statistics:hover {
        box-shadow: none;
        transform: none;
      }
    }
  }
}
