/* client/src/scss/api/_strategies-api.scss */

$canvas-width: 900px;
$canvas-height: 675px;
$drag-item-width: 30px;

div#EditStrategiesAPI {
  div.edit-container {
    padding: $padding-m !important;
    h1 {
      text-align: center;
    }
  }
  div.edit-buttons {
    display: flex;
    justify-content: flex-start;
    a.button {
      display: block;
      width: 100%;
      margin: 0;
    }
    button.button {
      max-width: 172px;
      display: block;
      margin: 0;
      width: 100%;
      margin-left: $margin-s;
      background: linear-gradient(to right, #{$color-tertiary}, #{$color-primary});
    }
  }
}
div#ViewStrategiesAPI {
  div.view-container {
    padding: $padding-m !important;
    h1 {
      text-align: center;
    }
  }
}

div.add-strategy {
  padding: $padding-m;
  button#cancel {
    border: 2px solid $color-danger;
  }
  button#cancel:hover {
    background: $color-danger;
  }
}
div#CreateStrategiesAPI {
  h1, h4 {
    text-align: center;
  }
}
div.map-selector {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: $margin-m;
  padding: $padding-m;
  h3 {
    grid-column: span 3;
    text-align: center;
  }
  div.map-option, a.map-option {
    background: $background-secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $padding-m;
    transition: all 0.3s ease;
    background-size: cover;
    background-position: center;
    padding: 0;
    height: 100px;
    text-decoration: none;
    position: relative;
  }
  div.map-overlay {
    width: 100%;
    height: 100%;
    margin: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-heading1;
    font-weight: bold;
    text-shadow: 2px 2px black;
    cursor: pointer;
    text-decoration: none !important;
    transition: all 0.3s ease;
  }
  button.delete-button {
    border-radius: 0px !important;
    background: $background-primary;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border: none;
    border-left: $border-primary;
    filter: opacity(0);
    transition: all 0.3s ease;
  }
  button.delete-button:hover {
    box-shadow: none;
    background: $color-danger;
  }
  div.map-option:hover, a.map-option:hover {
    box-shadow: $box-shadow-primary;
    cursor: pointer;
    transition: all 0.3s ease;
    div.map-overlay {
      background: rgba(0, 0, 0, 0.4);
      transition: all 0.3s ease;
    }
    button.delete-button {
      filter: opacity(1);
      transition: all 0.3s ease;
    }
  }
}

div#Editor, div#Viewer {
  main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 256px $canvas-width 1fr;
  }
}

div.objectives {
  h3 {
    margin-top: $margin-m;
  }
  input {
    width: 100%;
    max-width: $phone-max-width;
  }
  ul {
    padding: $padding-s;
    list-style-type: circle;
  }
  li {
    display: flex;
    align-items: center;
    padding: $padding-s;
    button {
      margin-left: $margin-m;
      padding: 8px;
    }
    button:hover {
      background: $color-danger;
    }
  }
  textarea {
    width: 100%;
    max-width: $phone-max-width;
  }
}

div.blueprint-form {
  overflow: hidden !important;
}


div.toolbar {
  border-bottom: $border-primary;
  display: flex;
  align-items: center;
  padding: 4px 0px;
  position: relative;
  * {
    margin: 0 $margin-s;
  }
  button.toolbar__button {
    margin: 0 !important;
    margin-top: $margin-m !important;
    display: block;
    width: 100%;
    border: $border-secondary;
    transition: all 0.3s ease;
    background: linear-gradient(to right, #{$color-tertiary}, #{$color-primary});
  }
  button.toolbar__button:hover {
    transition: all 0.3s ease;
  }
  p {
    color: $text-body;
    font-size: $font-small;
    border-radius: $border-radius;
    padding: 8px;
  }
  h4 {
    font-size: $font-body;
  }
  h4:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  div.dropdown-container {
    display: flex;
    p {
      margin: 0;
    }
  }
  div.strategy__name-input {
    position: relative;
    input.strategy__input {
      padding: 4px;
      padding-top: 8px;
      margin: 0;
      min-width: 300px;
      max-width: none;
    }
    button {
      margin: 0 !important;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      background: none;
      border: none;
      border-radius: 0;
      color: $color-success;
      padding: 8px;
      height: 100%;
      border-right: 4px solid transparent;
    }
    button:hover {
      cursor: pointer;
      box-shadow: none;
      border-right: 4px solid $color-success;
    }
  }
}
div.toolbar__navigation {
  position: fixed;
  background: $background-tertiary;
  z-index: 3;
  padding: $padding-m;
  top: 0;
  left: 0;
  height: 100VH;
  width: 300px;
  margin: 0;
  transform: translateX(-300px);
  transition: all 0.3s ease;
  overflow-y: auto;
  div.strategy__navigation {
    margin: 0;
    margin-top: $margin-m;
  }
  h3 {
    text-align: center;
    color: $text-dark;
    margin-top: $margin-s;
  }
  h4 {
    color: $text-dark;
    text-align: left;
    margin: 0;
    margin-top: $margin-s;
  }
  h4:hover {
    text-decoration: none;
  }
  a#showMaps {
    display: block;
    background: transparent;
    color: $text-dark;
    border: $border-secondary;
    margin: 0;
    margin-top: $margin-s;
    padding: $padding-s;
    width: 100%;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  a#showMaps:hover {
    box-shadow: $box-shadow-primary;
    transition: all 0.3s ease;
  }
  div.type-selector, div.strategy-selector, div.site-container, div.site-container div {
    margin: 0;
    position: relative;
    button {
      margin: 0;
      display: block;
      width: 100%;
      background: transparent;
      color: $text-dark;
      margin-bottom: 4px;
      border: $border-secondary;
    }
    button.type--active, button.strategy--active, button.site--active {
      color: white;
      background: linear-gradient(to right, #{$color-primary}, #{$color-secondary});
    }
  }
  div.strategy-selector {
    padding-bottom: 80px;
  }
  div.strategy-control {
    position: absolute;
    margin: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 64px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    button {
      background: $background-tertiary;
      border: $border-secondary;
      width: 100%;
      height: 100%;
      margin: 0 !important;
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0s ease;
      filter: opacity(1);
      font-size: $font-small;
    }
    button:hover {
      box-shadow: none;
      background: linear-gradient(to right, #{$color-primary}, #{$color-tertiary});
      color: white;
      cursor: pointer;
    }
  }
}
div.toolbar__navigation--active {
  transform: translateX(0);
  box-shadow: $box-shadow-primary;
  transition: all 0.3s ease;
}
button.toolbar__navigation-button {
  padding: 4px 8px;
  border: none;
}
button.toolbar__navigation-button--active {
  position: fixed;
  top: 16px;
  left: 240px;
  color: $text-dark;
  z-index: 4;
  background: transparent;
  border: $border-secondary;
}
div.sidebar {
  padding: $padding-s;
  max-height: 100VH;
  display: grid;
  grid-template-rows: 400px 1fr;
  border-right: $border-primary;
  button {
    display: none;
  }
  h3.site-container__heading, h3.scene-container__heading, h3.strategy-container__heading {
    text-align: center;
    margin-bottom: $margin-s;
  }
  div.scene-container {
    height: 100%;
    overflow-y: auto;
    padding-bottom: $padding-m;
  }
  div.strategy-container {
    div.strategy {
      display: flex;
      flex-direction: column;
      padding: $padding-s;
      margin-top: 4px;
      transition: all 0.3s ease;
      background: $background-secondary;
      p.strategy__name {
        color: $text-heading;
        margin-bottom: 2px;
        font-size: 14px;
        display: inline;
      }
    }
    div.strategy:hover {
      cursor: pointer;
      box-shadow: $box-shadow-primary;
      transition: all 0.3s ease;
    }
    div.strategy--active {
      border-left: 3px solid $color-primary;
    }
  }
  div.site, div.scene {
    display: flex;
    flex-direction: column;
    padding: $padding-s;
    margin-top: 4px;
    transition: all 0.3s ease;
    background: $background-secondary;
    span.site__number, span.scene__number {
      font-size: $font-small;
    }
    span:hover {
      cursor: pointer;
    }
    p.site__name, p.scene__name {
      color: $text-heading;
      margin-bottom: 2px;
      font-size: 14px;
      display: inline;
      width: auto;
    }
    div.scene__name-input {
      position: relative;
      input.scene__input {
        padding: 4px;
        padding-top: 8px;
        width: 100%;
      }
      button {
        margin: 0 !important;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background: none;
        border: none;
        height: 100%;
        border-right: 3px solid transparent;
        border-radius: 0;
        color: $color-success;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: right;
      }
      button:hover {
        cursor: pointer;
        border-right: 3px solid $color-success;
        box-shadow: none;
      }
    }
  }
  p {
    cursor: pointer;
  }
  p.scene__name:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  div.site:hover, div.scene:hover {
    cursor: pointer;
    box-shadow: $box-shadow-primary;
    transition: all 0.3s ease;
  }
  div.site--active, div.scene--active {
    border-left: 3px solid $color-primary;
  }
  div.scene-container {
    margin-top: $margin-m;
  }
  div.scene-controls {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 256px;
    height: 50px;
    border: $border-primary;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    button {
      background: $background-primary;
      border: none;
      width: 100%;
      height: 100%;
      margin: 0 !important;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;
      border-radius: 0;
      filter: opacity(1);
      font-size: $font-small;
    }
    button:hover {
      box-shadow: none;
      background: linear-gradient(to right, #{$color-primary}, #{$color-tertiary});
      cursor: pointer;
    }
    button:nth-child(1) {
      border-right: $border-primary;
    }
  }
}
div.lineup {
  padding: $padding-s;
  > button {
    display: none;
  }
  h3 {
    text-align: center;
    margin-bottom: $margin-s;
  }
  div.role {
    border-radius: 0;
    display: grid;
    grid-template-columns: 1fr 64px;
    grid-gap: 8px;
    padding: $padding-s;
    background: $background-secondary;
    margin-bottom: $margin-s;
    div.role__head {
      width: 100%;
      select {
        padding: 8px;
        font-size: $font-small;
        width: 100%;
        margin-bottom: 4px;
        border: none;
        option {
          color: $text-dark;
        }
      }
    }
    div.role__image {
      img {
        width: 100%;
        height: 100%;
      }
      img:hover {
        cursor: pointer;
      }
    }
    div.role__body {
      width: 100%;
      div.role__operator {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        margin-bottom: 4px;
        p {
          font-size: $font-small;
        }
        button {
          padding: 8px;
          font-size: $font-small;
        }
        button:hover {
          background: linear-gradient(to right, #{$color-tertiary}, #{$color-primary});
        }
      }
      div.role__utility {
        select {
          padding: 8px;
          font-size: $font-small;
          border: none;
          width: 100%;
          option {
            color: $text-dark;
          }
        }
      }
    }
  }
  div.role--active {
    border-left: 3px solid $color-tertiary;
  }
}

div.canvas {
  width: 100%; // 1024px
  height: 100%;
  position: relative;
  border-right: $border-primary;
  z-index: 1;
  div.blueprint-form {
    width: 100%; // 1024px
    height: $canvas-height; // 576px gives 16:9 ratio
    overflow: auto;
    position: relative;
  }
  div.position-overlay {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: move;
    div.drag-item {
      position: absolute;
      width: $drag-item-width;
      height: $drag-item-width;
      transition: all 0.5s ease;
    }
    div.drag-item:hover {
      cursor: grab;
      transition: all 0s ease;
    }
    div.drag-item.drag {
      cursor: grabbing;
      transition: all 0s ease;
    }
    div.drag-operator {
      border: 2px solid $color-primary;
    }
    div.drag-drone, div.drag-reinforcement {
      border: 2px solid $color-warning;
      transform: scale(0.9);
    }
    div.drag-breach, div.drag-rotate {
      border: 2px solid $color-danger;
    }
    div.drag-utility {
      transform: scale(0.8);
    }
  }
  div.canvas__controls {
    position: absolute;
    height: 50px;
    top: $canvas-height;
    border-bottom: none;
    border-left: none;
    display: flex;
    z-index: 2;
    left: 0;
    background: $background-tertiary;
    select {
      border-radius: 0 !important;
      option {
        color: $text-dark;
      }
    }
    select:hover {
      cursor: pointer;
    }
  }
  div.canvas__body {
    margin-top: $margin-m;
    padding: $padding-m;
    ul {
      margin-left: $margin-s;
    }
    h3 {
      margin-top: $margin-s;
    }
  }
}

div.zoom-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $text-dark !important;
  p {
    color: $text-dark;
    margin-top: 8px;
  }
  input {
    cursor: pointer;
    margin: 0;
    transform: scale(0.8);
  }
}

div#Viewer {
  h4.toolbar__strategy {
    cursor: default;
  }
  h4.toolbar__strategy:hover {
    text-decoration: none;
  }
  div.drag-item {
    cursor: default;
  }
  p.scene__name:hover {
    text-decoration: none;
  }
}

@media screen and (max-width: 1400px) {

  div#Editor {
    main {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 48px $canvas-width 1fr !important;
    }
    div.sidebar {
      padding: 8px;
      position: relative;
      z-index: 2;
      button {
        display: block;
        padding: 0;
        margin: 0;
        height: 48px;
      }
      div.sidebar-body {
        padding: $padding-s;
        position: absolute;
        top: 64px;
        left: 0;
        width: 256px;
        background: $background-primary;
        transform: translateX(-100%);
        transition: all 0.3s ease;
        div.scene-controls {
          position: relative;
          top: 0;
          left: 0;
          width: 100%;
        }
      }
    }
    div.sidebar--active {
      > button {
        transform: rotate(180deg);
      }
      div.sidebar-body {
        transform: translate(0);
        transition: all 0.3s ease;
      }
    }
  }

}

@media screen and (max-width: 1250px) {
  div.lineup {
    padding: 8px;
    position: relative;
    z-index: 2;
    > button {
      display: block;
      padding: 0;
      margin: 0;
      height: 48px;
      transform: rotate(180deg);
      width: 100%;
    }
    div.lineup-body {
      padding: 16px;
      position: absolute;
      top: 64px;
      right: 0;
      width: 324px;
      background: $background-primary;
      transform: translate(324px);
      transition: all 0.3s ease;
    }
  }
  div.lineup--active {
    > button {
      transform: rotate(0deg);
    }
    div.lineup-body {
      transform: translate(0);
    }
  }
}

@media screen and (max-width: 1000px) {
  div#Editor {
    main {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr !important;
      div.sidebar {
        max-width: 48px;
      }
      div.lineup {
        grid-row: 1;
        width: 100%;
        > button {
          display: none;
        }
        div.lineup-body {
          position: relative;
          top: 0;
          left: 0;
          right: default;
          width: auto;
          transform: none;
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          h3 {
            grid-column: span 5;
          }
          div.role {
            grid-template-columns: 1fr;
            div.role__head {
              display: none;
            }
            div.role__image {
              img {
                width: 100%;
                height: auto;
              }
            }
          }
        }
      }
    }
  }
}
