/* client/src/scss/api/_strategies-api.scss */

$canvas-width: 1500px;
$canvas-height: 800px;
$drag-item-width: 40px;

div#community {
  h2 {
    margin-bottom: $margin-s;
  }
  div.shared-strategy-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $margin-m;
  }
  div.shared_strategy_card {
    border-radius: $border-radius;
    box-shadow: $box-shadow-secondary;
    transition: all 0.3s ease;
    * {
      text-decoration: none;
    }
  }

  div.shared-strategy-controls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    fieldset {
      margin: $margin-s;
    }
    button {
      padding: $button-padding-big;
      margin-top: $margin-s;
    }
  }

  div.shared_strategy_overlay {
    width: 100%;
    height: 100%;
    padding: $padding-m;
    background: rgba(0, 0, 0, 0.7);
    border-radius: $border-radius;
    transition: all 0.3s ease;
    h3 {
      color: $text-heading;
      text-align: center;
    }
    h4 {
      color: $text-subtle;
      text-align: center;
    }
  }
  div.shared_strategy_card:hover {
    box-shadow: $box-shadow-primary;
    * {
      cursor: pointer;
    }
    div.shared_strategy_overlay {
      background: rgba(0, 0, 0, 0.4);
      transition: all 0.3s ease;
    }
    transition: all 0.3s ease;
  }
}

div#strategies {
  div.view-container {
    padding: $padding-m !important;
    a.button {
      margin: auto;
      margin-top: $margin-s;
    }
    h1 {
      text-align: center;
    }
  }
}

div#edit-strategies {
  div.edit-container {
    padding: $padding-m !important;
    height: 100%;
    h1 {
      text-align: center;
    }
  }
  a.button {
    display: block;
    width: 100%;
    margin: $margin-s auto !important;
  }
  div.edit-buttons {
    display: flex;
    justify-content: flex-start;

    button.button {
      max-width: 172px;
      display: block;
      margin: 0;
      width: 100%;
      margin-left: $margin-s;
      padding: $button-padding-big;
      background: linear-gradient(to right, #{$color-tertiary}, #{$color-primary});
    }
  }
}

div.add-strategy {
  padding: $padding-m;
  button#cancel {
    border: 2px solid $color-danger;
    padding: $button-padding;
    background: $color-danger;
  }
  button#cancel:hover {
    background: $color-danger;
  }
}
div#CreateStrategiesAPI {
  h1, h4 {
    text-align: center;
  }
}
div.map-selector {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: $margin-m;
  padding: $padding-m;
  h3 {
    grid-column: span 3;
    text-align: center;
  }
  div.map-option, a.map-option {
    background: $background-secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $padding-m;
    transition: all 0.3s ease;
    background-size: cover;
    background-position: center;
    padding: 0;
    height: 100px;
    text-decoration: none;
    position: relative;
    border-radius: $border-radius;
    box-shadow: $box-shadow-secondary;
  }
  div.map-overlay {
    width: 100%;
    height: 100%;
    margin: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-heading1;
    font-weight: bold;
    text-shadow: 2px 2px black;
    cursor: pointer;
    text-decoration: none !important;
    transition: all 0.3s ease;
    border-radius: $border-radius;
  }
  button.delete-button {
    background: $background-primary;
    position: absolute;
    right: 0;
    top: 50%;
    height: 100%;
    transform: translateY(-50%);
    border: none;
    border-left: $border-primary;
    filter: opacity(0);
    transition: all 0.3s ease;
    border-radius: $border-radius;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    font-size: 12pt;
    * {
      cursor: pointer;
      color: $text-heading;
    }
    cursor: pointer;
  }
  button.delete-button:hover {
    box-shadow: none;
    background: $color-danger;
  }
  div.map-option:hover, a.map-option:hover {
    box-shadow: $box-shadow-primary;
    cursor: pointer;
    transition: all 0.3s ease;
    div.map-overlay {
      background: rgba(0, 0, 0, 0.2);
      transition: all 0.3s ease;
    }
    button.delete-button {
      filter: opacity(1);
      transition: all 0.3s ease;
    }
  }
}

div#Editor, div#Viewer, div#SharedViewer {
  display: block;
  margin: auto;
  main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr calc(#{$canvas-width} + (2 * #{$padding-m}));
  }
}

div.objectives, div.strategy_controls {
  padding: $padding-s;
  div.objectives__container {
    display: flex;
    button {
      padding: $button-padding !important;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  h3 {
    text-align: center;
    margin-bottom: $margin-s;
  }
  h4 {
    color: $text-accent;
    margin-bottom: $margin-xs;
  }
  input {
    width: 100%;
    max-width: $phone-max-width;
    border: $border-primary;
    padding: $button-padding;
  }
  input.objectives__input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  ul {
    padding: $padding-s;
    padding-left: $padding-m;
  }
  li {
    font-size: $font-heading3;
    margin: $margin-xs;
    div {
      display: flex;
      align-items: center;
    }
    button {
      margin-left: $margin-m;
      padding: 2px 4px;
      font-size: 8pt;
    }
    button:hover {
      background: $color-danger;
    }
  }
  textarea {
    width: 100%;
    max-width: $phone-max-width;
    padding: $button-padding;
    border: $border-primary;
  }
}

div.blueprint-form {
  overflow: hidden !important;
}

div.toolbar--scroll {
  position: fixed !important;
  top: 0;
}
div.toolbar {
  border-bottom: $border-primary;
  display: flex;
  align-items: center;
  padding: 4px 0px;
  z-index: 4;
  width: 100%;
  background-color: $background-primary;
  position: relative;
  * {
    margin: 0 $margin-s;
  }
  button.toolbar__button {
    padding: $button-padding-big;
    border-radius: $border-radius;
    margin: 0 !important;
    margin-top: $margin-m !important;
    display: block;
    width: 100%;
    border: $border-secondary;
    transition: all 0.3s ease;
    background: linear-gradient(to right, #{$color-tertiary}, #{$color-primary});
  }
  button.toolbar__button:hover {
    transition: all 0.3s ease;
  }
  p {
    color: $text-body;
    font-size: $font-small;
    border-radius: $border-radius;
    padding: 8px;
  }
  h4 {
    font-size: $font-body;
  }
  h4.toolbar__strategy {
    color: $text-body;
    border: 1px solid transparent;
    border-radius: $border-radius;
    padding: 4px 6px;
  }
  h4.toolbar__strategy:hover {
    cursor: pointer;
    border: 1px solid #393939;
  }
  h4.toolbar__label {
    text-align: center;
    width: auto;
  }
  div.action-container {
    display: flex;
    align-items: center;
    div.action {
      display: flex;
      align-items: center;
      border-bottom: 3px solid transparent;
      padding: 0 4px;
      transition: all 0.3s ease;
      margin: 0;
      margin-right: 8px;
      background-color: white;
      cursor: pointer;
      img {
        width: 24px;
        margin: 0;
      }
      p {
        margin: 0;
        color: $text-dark;
      }
    }
    div.action:hover {
      border-bottom: 3px solid $color-primary;
      transition: all 0.3s ease;
      cursor: pointer;
      * {
        cursor: pointer;
      }
    }
  }
  div.strategy__name-input {
    position: relative;
    input.strategy__input {
      padding: 4px;
      padding-top: 8px;
      margin: 0;
      min-width: 300px;
      max-width: none;
    }
    button {
      margin: 0 !important;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      background: none;
      border: none;
      border-radius: 0;
      color: $color-success;
      padding: 8px;
      height: 100%;
      border-right: 4px solid transparent;
    }
    button:hover {
      cursor: pointer;
      box-shadow: none;
      border-right: 4px solid $color-success;
    }
  }
}
div.toolbar--active {
  z-index: 4;
}
div.toolbar__navigation {
  position: fixed;
  background: $background-tertiary;
  z-index: 4;
  padding: $padding-m;
  top: 0;
  left: 0;
  height: 100VH;
  width: 300px;
  margin: 0;
  transform: translateX(-300px);
  transition: all 0.3s ease;
  overflow-y: auto;
  div.strategy__navigation {
    margin: 0;
    margin-top: $margin-m;
  }
  h3 {
    text-align: center;
    color: $text-dark;
    margin-top: $margin-s;
  }
  h4 {
    color: $text-dark;
    text-align: left;
    margin: 0;
    margin-top: $margin-s;
  }
  h4:hover {
    text-decoration: none;
  }
  a#showMaps {
    display: block;
    background: transparent;
    color: $text-dark;
    border: $border-secondary;
    margin: 0;
    margin-top: $margin-s;
    padding: $button-padding-big;
    border-radius: $border-radius;
    width: 100%;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  a#showMaps:hover {
    box-shadow: $box-shadow-primary;
    transition: all 0.3s ease;
  }
  div.strategy-selector, div.site-container {
    margin: 0;
    position: relative;
    button {
      margin: 0;
      display: block;
      width: 100%;
      background: transparent;
      color: $text-dark;
      margin-bottom: 4px;
      border: $border-secondary;
    }
    button.type--active, button.strategy--active, button.site--active {
      color: white;
      background: linear-gradient(to right, #{$color-primary}, #{$color-secondary});
    }
  }
  div.strategy-selector {
    padding-bottom: 42px;
  }
  div.site-container select, select.type-selector, div.strategy-selector select {
    border: $border-secondary;
    margin: 0;
    width: 100%;
    padding: $button-padding-big;
    border-radius: $border-radius;
    option {
      color: $text-accent;
    }
  }
  div.strategy-control {
    position: absolute;
    margin: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    button {
      background: $background-tertiary;
      border: $border-secondary;
      width: 100%;
      height: 100%;
      margin: 0 !important;
      padding: 4px;
      font-size: $font-heading3;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0s ease;
      filter: opacity(1);
    }
    button:hover {
      box-shadow: none;
      background: linear-gradient(to right, #{$color-primary}, #{$color-tertiary});
      color: white;
      cursor: pointer;
    }
  }
}
div.toolbar__navigation--active {
  transform: translateX(0);
  box-shadow: $box-shadow-primary;
  z-index: 4;
  transition: all 0.3s ease;
}
button.toolbar__navigation-button {
  padding: 4px 8px;
  border: none;
}
button.toolbar__navigation-button--active {
  position: fixed;
  top: 16px;
  left: 240px;
  color: $text-dark;
  z-index: 5;
  background: transparent;
  border: $border-secondary;
}
div.sidebar--scroll div.sidebar-body {
  height: 100%;
  background: $background-primary;
  position: fixed;
  top: 48px;
  width: 256px;
  max-height: calc(100VH - 64px);
}
div.sidebar {
  background: $background-quaternary;
  border-radius: $border-radius;
  padding: $padding-s;
  box-shadow: $box-shadow-primary;
  margin-left: $margin-s;
  div.strategy__name-input {
    display: flex;
    input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  div.sidebar__controls {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $margin-s;
    padding: $padding-s;
    margin-bottom: $margin-s;
    i.sidebar__control {
      text-align: center;
      font-size: $font-heading2;
      cursor: pointer;
      width: 100%;
      color: $text-subtle;
      padding: $padding-s;
      border-radius: $border-radius;
      transition: all 0.3s ease;
    }
    i.sidebar__control:hover {
      color: $text-accent;
      background: $background-secondary;
      box-shadow: $box-shadow-primary;
      transition: all 0.3s ease;
    }
    i.sidebar__control--active {
      background: $background-primary;
      box-shadow: $box-shadow-primary;
    }
  }
}
div.strategy_controls {
  .video_link {
    margin-top: $margin-s;
  }
}
div.lineup--scroll div.lineup-body {
  position: fixed;
  top: 48px;
  padding-right: $padding-s;
}
div.lineup {
  padding: $padding-s;
  padding-top: 8px;
  > button {
    display: none;
  }
  h3 {
    text-align: center;
    margin-bottom: $margin-s;
  }
  div.role {
    border-radius: 0;
    padding: 8px;
    margin-bottom: $margin-s;
    border: $border-primary;
    border-radius: $border-radius;
    cursor: pointer;
    transition: all 0.3s ease;
    div.role__head {
      width: 100%;
      display: grid;
      grid-template-columns: 96px 1fr;
      grid-gap: 4px;
      select {
        padding: 4px;
        font-size: $font-small;
        width: 100%;
        margin-bottom: 4px;
        border: none;
        option {
          color: $text-subtle;
        }
      }
    }
    div.role__image {
      p {
        font-size: $font-small;
        text-align: center;
      }
      img {
        width: 40%;
        max-width: 64px;
        display: block;
        margin: auto;
        overflow: hidden;
      }
      img:hover {
        cursor: pointer;
      }
    }
    div.role__body {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 4px;
      padding-top: 8px;
      button {
        width: 100%;
        height: 100%;
        background: $color-primary;
      }
      div.role__gadget, div.role__utility {
        position: relative;
        box-shadow: $box-shadow-primary;
        border-radius: $border-radius;
        width: 100%;
        max-height: 36px;
        overflow: hidden;
        height: 100%;
        p {
          position: absolute;
          text-align: center;
          text-transform: uppercase;
          font-size: 8pt;
          color: $text-light;
          top: 0;
          left: 0;
          z-index: 3;
          background: $color-primary;
          border-radius: 100%;
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        img.role__gadget-image, img.role__utility-image {
          width: 120%;
          display: block;
          margin: auto;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        img.role__gadget-image:hover, img.role__utility-image:hover {
          cursor: pointer;
        }
      }
    }
  }
  div.role:hover {
    box-shadow: $box-shadow-primary;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  div.role--active {
    box-shadow: $box-shadow-primary;
    div.role__image img {
      width: 40%;
    }
  }
}

div.canvas {
  width: 100%;
  height: 100%;
  position: relative;
  border-right: $border-primary;
  z-index: 3;
  padding: $padding-m;
  padding-top: 0;
  border-radius: $border-radius;
  div.blueprint-form {
    width: 100%;
    height: $canvas-height; // 576px gives 16:9 ratio
    overflow: auto;
    position: relative;
    z-index: 1;
    border-radius: $border-radius;
    box-shadow: $box-shadow-primary;
  }
  div.position-overlay {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    cursor: move;
    border-radius: $border-radius;
    div.drag-item {
      position: absolute;
      width: $drag-item-width;
      height: $drag-item-width;
      transition: all 0.5s ease;
      z-index: 2;
    }
    div.drag-item span {
      position: absolute;
      top: 120%;
      left: 50%;
      transform: translate(-50%);
      color: $text-heading;
      background: $background-primary;
      padding: 4px;
      display: flex;
      align-items: center;
      font-size: $font-small;
      z-index: 2;
    }
    div.drag-item:hover {
      cursor: grab;
      transition: all 0s ease;
    }
    button.drag-item__button {
      position: absolute;
      top: -24px;
      right: -24px;
      padding: 2px;
      font-weight: bold;
      background: none;
      text-align: center;
      border-radius: 0;
      font-size: 10pt;
      color: $color-danger;
      border: none;
      width: 22px;
      height: 22px;
      background: white;
      border-radius: $border-radius;
      z-index: 3;
      filter: opacity(1);
    }
    select.drag-item__select {
      position: absolute;
      left: 50%;
      top: 36px;
      transform: translateX(-50%);
      display: block;
      z-index: 5;
      option {
        font-size: $font-small;
        color: $text-dark;
      }
    }
    div.drag-item.drag {
      cursor: grabbing;
      transition: all 0s ease;
    }
    div.drag-item--selected::before{
      content: "";
      display: block;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 120%;
      height: 120%;
      border: 3px dotted black;
      z-index: 3;
      border-radius: $border-radius;
      animation-name: blink;
      animation-duration: 0.5s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
    }
    @keyframes blink {
      0% {
        filter: opacity(0.3)
      }
      50% {
        filter: opacity(1)
      }
      100% {
        filter: opacity(0.3)
      }
    }
    div.drag-operator {

    }
    div.drag-drone, div.drag-reinforcement {
      border: 2px solid $color-warning;
      transform: scale(0.8);
    }
    div.drag-breach, div.drag-rotate {
      border: 2px solid $color-danger;
      transform: scale(0.8);
    }
    div.drag-utility {
      transform: scale(0.8);
    }
    div.drag-gadget {
      transform: scale(0.8);
      border-radius: 100%;
      border: 1px solid $color-success;
    }
  }
  div.canvas__controls {
    position: absolute;
    height: 64px;
    top: calc(#{$canvas-height} + #{$margin-s});
    left: 50%;
    transform: translateX(-50%);
    border-bottom: none;
    border-left: none;
    display: flex;
    z-index: 2;
    background: $background-quaternary;
    padding: $button-padding;
    border-radius: $border-radius;
    box-shadow: $box-shadow-primary;
    color: $text-heading;
    div.zoom-selector {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: $text-accent;
      p {
        color: $text-accent;
        margin-top: 8px;
      }
      input {
        cursor: pointer;
        margin: 0;
        transform: scale(0.8);
      }
    }
    div.labels {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      span {
        color: $text-accent;
        font-size: $font-small;
        margin-bottom: $margin-xs;
      }
      input {
        cursor: pointer;
      }
    }
    div.pagination {
      margin-left: $margin-s;
      button {
        background: $background-quaternary;
        border: $border-primary;
        border-radius: $border-radius;
        color: $text-accent;
      }
      p {
        color: $text-accent;
      }
    }
    select {
      border-radius: 0 !important;
      padding: 0;
      option {
        color: $text-heading;
      }
    }
    select:hover {
      cursor: pointer;
    }
  }
}

div#Viewer, div#SharedViewer {
  h4.toolbar__strategy {
    cursor: default;
  }
  h4.toolbar__strategy:hover {
    text-decoration: none;
  }
  div.drag-item {
    cursor: default;
  }
  p.scene__name:hover {
    text-decoration: none;
  }
  img.role__utility-image:hover, img.role__gadget-image:hover {
    cursor: default;
  }
  a.objectives__video {
    padding: $padding-s;
    background: linear-gradient(to right, #{$color-primary}, #{$color-secondary});
    margin-top: $margin-m !important;
    display: block;
    width: 100%;
    max-width: 128px;
    color: white;
    border-radius: $border-radius;
    cursor: pointer;
  }

}

@media screen and (max-width: 1400px) {

  div#Editor, div#Viewer, div#SharedViewer {
    main {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 48px $canvas-width 1fr !important;
    }
    div.sidebar {
      padding: 8px;
      position: relative;
      z-index: 2;
      button {
        display: block;
        padding: 0;
        margin: 0;
        height: 48px;
      }
      div.sidebar-body {
        padding: $padding-s;
        position: absolute;
        top: 64px;
        left: 0;
        width: 256px;
        background: $background-primary;
        transform: translateX(-100%);
        transition: all 0.3s ease;
        div.scene-controls {
          position: relative;
          top: 0;
          left: 0;
          width: 100%;
        }
      }
    }
    div.sidebar--active {
      > button {
        transform: rotate(180deg);
      }
      div.sidebar-body {
        transform: translate(0);
        transition: all 0.3s ease;
      }
    }
  }

}

@media screen and (max-width: 1250px) {
  div.map-selector {
    grid-template-columns: repeat(2, 1fr);
  }
  div.lineup {
    padding: 8px;
    position: relative;
    z-index: 2;
    > button {
      display: block;
      padding: 0;
      margin: 0;
      height: 48px;
      transform: rotate(180deg);
      width: 100%;
    }
    div.lineup-body {
      padding: 16px;
      position: absolute;
      top: 64px;
      right: 0;
      width: 324px;
      background: $background-primary;
      transform: translate(324px);
      transition: all 0.3s ease;
    }
  }
  div.lineup--active {
    > button {
      transform: rotate(0deg);
    }
    div.lineup-body {
      transform: translate(0);
    }
  }
}

@media screen and (max-width: #{$tablet-max-width}) {
  div#EditStrategiesAPI div.edit-container, div#ViewStrategiesAPI div.view-container {
    padding: 8px !important;
    button.button {
      width: 100%;
      max-width: 100VW;
      margin-left: 0;
    }
  }
  div.map-selector {
    grid-template-columns: 1fr;
    padding: 8px;
    padding-top: $padding-m;
    div.map-overlay {
      font-size: $font-heading2;
      background: rgba(0, 0, 0, 0.47);
    }
    button.delete-button {
      filter: none;
      border: 1px solid $color-danger;
      background: $color-danger;
    }
  }
  div#Editor, div#Viewer, div#SharedViewer {
    width: 100%;
    height: 100%;
    div.toolbar {
      overflow-x: auto;
      div.strategy__name-input {
        position: fixed;
        max-width: $phone-max-width;
        margin: 0;
        top: 112px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    main {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr) !important;
      overflow: hidden;
      div.canvas {
        grid-row: 1;
        grid-column: span 2;
        width: 100%;
        div.blueprint-form {
          width: 100%;
          overflow: hidden;
          touch-action: none;
          div.position-overlay {
            width: $canvas-width;
            height: 100%;
          }
        }
        div.canvas__controls {
          left: 50%;
          transform: translateX(-50%);
          top: $canvas-height;
        }
      }
      div.sidebar {
        grid-row: 2;
        grid-column: span 1;
        width: 100%;
        max-height: none;
        > button {
          display: none;
        }
        div.sidebar-body {
          transform: none;
          top: 0;
          width: 100%;
          max-height: none;
        }
      }
      div.lineup {
        width: 100%;
        > button {
          display: none;
        }
        div.lineup-body {
          position: relative;
          top: 0;
          left: 0;
          right: default;
          width: auto;
          transform: none;
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          padding: 0;
          margin-bottom: $margin-l;
          h3 {
            grid-column: span 5;
          }
          div.role {
            grid-template-columns: 1fr;
            padding: 4px;
            div.role__head {
              display: none;
            }
            div.role__image {
              img {
                width: 100%;
                height: auto;
              }
            }
          }
          div.role--active {
            border: 3px solid $color-tertiary;
            div.role__body {
              position: absolute;
              top: 100%;
              background: $background-primary;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: #{$phone-max-width}) {
  div#Editor, div#Viewer, div#SharedViewer {
    div.toolbar {
      overflow-x: auto;
      h4.toolbar__label {
        display: none;
      }
      div.toolbar__navigation {
        width: 100VW;
        transform: translateX(-100VW);
      }
      div.toolbar__navigation--active {
        transform: translateX(0);
      }
      button.toolbar__navigation-button {
        left: 16px;
      }
      div.action-container {
        padding: 0;
        margin: 0;
      }
      div.action {
        padding: 2px;
        p {
          font-size: 8pt;
          padding: 0;
        }
      }
      div.strategy__name-input {
        position: fixed;
        max-width: $phone-max-width;
        margin: 0;
        top: 112px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    main {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr !important;
      overflow: hidden;
      div.canvas {
        grid-row: 1;
        width: 100%;
        div.blueprint-form {
          width: 100%;
          height: 450px;
          display: block;
          margin: auto;
          overflow: hidden;
          touch-action: none;
          div.position-overlay {
            width: $canvas-width;
            height: $canvas-height;
          }
        }
        div.canvas__controls {
          left: 50%;
          transform: translateX(-50%);
          display: grid;
          grid-template-columns: 1fr 1fr;
          width: 100%;
          height: auto;
          top: 450px;
          select.form__select {
            display: block !important;
            grid-row: 2;
          }
          div.zoom-selector {
            grid-row: 1;
            grid-column: span 2;
            display: none;
          }
          select.form__select {
            padding: 8px;
          }
          div.labels {
            grid-row: 2;
            flex-direction: row;
            input {
              margin-left: 8px;
            }
          }
          div.pagination {
            grid-column: span 2;
          }
        }
        div.canvas__body {
          padding: 16px;
          margin-top: 128px;
        }
        div.objectives {
          button {
            width: 100%;
          }
        }
      }
      div.sidebar {
        grid-row: 3;
        margin-top: 128px;
        height: 856px;
        > button {
          display: none;
        }
        div.sidebar-body {
          transform: none;
          top: 0;
          width: 100%;
          padding-bottom: 200px;
          grid-template-rows: 400px 400px;
        }
        div.scene-controls {
          bottom: 0 !important;
          left: 0;
          top: calc(100% - 50px) !important;
          position: absolute !important;
        }
      }
      div.lineup {
        grid-row: 2;
        width: 100%;
        padding-top: 32px;
        > button {
          display: none;
        }
        div.lineup-body {
          position: relative;
          top: 0;
          left: 0;
          right: default;
          width: auto;
          transform: none;
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          padding: 0;
          margin-bottom: $margin-l;
          h3 {
            grid-column: span 5;
          }
          div.role {
            grid-template-columns: 1fr;
            padding: 4px;
            div.role__head {
              display: block !important;
              font-size: 8pt;
              div.role__options {
                display: none;
              }
            }
            div.role__image {
              p {
                font-size: 8pt;
              }
              img {
                width: 100%;
                height: auto;
              }
            }
          }
          div.role--active {
            border: 3px solid $color-tertiary;
            div.role__options {
              display: block !important;
              position: absolute;
              top: 100%;
              background: $background-primary;
              width: calc(100VW - (2 * #{$padding-s}));
              left: 8px;

            }
            div.role__body {
              position: absolute;
              top: 170%;
              left: 8px;
              background: $background-primary;
              width: calc(100VW - #{$padding-s});
            }
          }
        }
      }
    }
  }
}
