/* client/src/scss/api/_strategy-api.scss */
div#edit-strategies {
  width: 100%;
  height: 100%;
}

div#ViewStrategiesAPI {
  p {
    color: white;
    margin-top: calc(#{$margin} * 2);
  }
}

div#EditStrategiesAPI {
  width: 100%;
  height: 100%;
  > div {
    width: 100%;
    height: 100%;
    > div {
      height: 100%;
    }
  }
  a {
    display: block;
  }
  button {
    margin: calc(#{$margin} * 2) 0;
  }
}

div#CreateStrategiesAPI {
  width: 100%;
  height: 100%;
  div.map-selector {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: $margin;
    h3 {
      grid-column: span 4;
      text-align: center;
      margin-bottom: calc(#{$margin} * 2);
    }
    div.map-option {
      box-shadow: $box-shadow-primary;
      position: relative;
      transition: all 0.3s ease;
      img {
        width: 100%;
        min-height: 200px;
      }
      h4 {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.7);
        color: white;
        font-weight: bold;
        transform: translate(-50%, -50%);
      }
    }
    div.map-option:hover {
      cursor: pointer;
      box-shadow: $box-shadow-tertiary;
      transition: all 0.3s ease;
    }
  }
}
div.add-map {
  width: 100%;
  height: 100%;
}
div.add-map__ui {
  width: 100%;
  height: 100%;
  div.toolbar {
    padding: calc(#{$margin} / 2);
    display: flex;
    align-items: center;
    border-bottom: $border-primary;
    button.toolbar__button {
      margin: 0 !important;
      padding: calc(#{$padding} / 2) $padding;
      box-shadow: none;
    }
    button.toolbar__button:hover {
      transform: none;
      box-shadow: $box-shadow-tertiary;
    }
    * {
      margin: 0 calc(#{$margin} * 2);
    }
    p {
      color: $text-tertiary;
      opacity: 0.9;
      font-size: $small;
      border-radius: $border-radius;
      padding: $padding;
    }
    p:hover {
      background: $background-accent;
      cursor: pointer;
    }
    h4.toolbar__strategy {
      color: $text-primary;
      font-size: 18px;
    }
    h4.toolbar__strategy:hover {
      cursor: pointer;
      text-decoration: underline;
    }
    div.strategy__name-input {
      position: relative;
      input.strategy__input {
        padding: $padding;
        border: $border-primary;
      }
      button {
        margin: 0 !important;
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
        background: none;
        border: none;
        opacity: 0.8;
        padding: 8px;
      }
      button:hover {
        cursor: pointer;
        color: $color-success;
      }
    }
  }
  main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 256px 1224px 1fr;
    div.sidebar {
      padding: calc(#{$padding} * 2);
      max-height: 100VH;
      display: grid;
      grid-template-rows: 300px 1fr;
      border-right: $border-primary;
      h3.site-container__heading, h3.scene-container__heading {
        text-align: center;
        margin-bottom: $margin;
      }
      div.scene-container {
        height: 100%;
      }
      div.site, div.scene {
        border-radius: $border-radius;
        display: flex;
        flex-direction: column;
        padding: $padding;
        margin-top: $margin;
        transition: all 0.3s ease;
        span.site__number, span.scene__number {
          font-size: $small;
          color: $text-tertiary;
          opacity: 0.9;
        }
        p.site__name, p.scene__name {
          color: $text-primary;
          font-size: 14px;
          margin-bottom: 2px;
        }
        div.scene__name-input {
          input.scene__input {
            padding: $padding;
            border: $border-primary;
          }
        }
      }
      p.scene__name:hover {
        text-decoration: underline;
      }
      div.site:hover, div.scene:hover {
        cursor: pointer;
        background: $background-accent;
        transition: all 0.3s ease;
      }
      div.site--active, div.scene--active {
        background: $background-accent;
      }
      div.scene-controls {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 256px;
        height: 40px;
        background: white;
        border: $border-primary;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        button {
          background: none;
          border: none;
          width: 100%;
          height: 100%;
          margin: 0 !important;
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.3s ease;
        }
        button:hover {
          background: $background-accent;
          cursor: pointer;
        }
        button:nth-child(1) {
          border-right: $border-primary;
        }
      }
    }
  }
}
