/* scss/components/api/_view-strategies.scss */

div#ViewStrategiesAPI {
  padding: $padding;
  margin: calc(#{$margin} * 2) auto;
  max-width: 1200px;
  div.strategy-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4px;
    input.strategy-search {
      padding: calc(#{$padding} / 2) $padding;
      grid-column: span 2;
      display: block;
      margin: $margin auto;
    }
    div.strategy-preview {
      width: 100%;
      background: $theme-dark;
      padding: $padding;
      border-radius: $border-radius;
      display: flex;
      align-items: center;
      h3.strategy-preview-heading {
        margin-right: $margin;
        color: $subtle-accent;
        text-decoration: underline;
      }
      h3.strategy-preview-heading:hover {
        cursor: pointer;
      }
      p.strategy-preview-type {
        color: $light;
      }
    }
  }
  div.strategy {
    padding: $padding;
    background: $theme-dark;
    p.strategy__link {
      color: $subtle-accent;
      text-decoration: underline;
      font-size: $small;
      margin-bottom: $margin;
    }
    p.strategy__link:hover {
      cursor: pointer;
    }
    h3.strategy__name {
      text-align: center;
      color: $accent;
      font-size: $heading2;
    }
    h4.strategy__heading {
      color: $subtle-accent;
      font-size: $heading3;
      margin-top: $margin;
    }
    h5.strategy__type {
      text-align: center;
      color: $light;
      font-size: $small;
    }
    ul.strategy__objectives {
      padding: $padding;
      li.strategy__objective {
        color: $subtle-accent;
      }
    }
    div.strategy__lineup {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 8px;
      div.operator {
        img.operator__image {
          width: 100%;
        }
        p.operator__name {
          text-align: center;
          color: $light;
        }
      }
    }
    p.strategy__text {
      color: $subtle-accent;
    }
  }
}

@media screen and (max-width: #{$phone-max-width}) {
  div#ViewStrategiesAPI {
    padding: $phone-padding;
    div.strategy__list {
      grid-template-columns: 1fr;
    }
    div.strategy {
      div.strategy__lineup {
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: $padding;
      }
    }
  }
}
