/* scss/api/_view-team.scss */

div#ViewTeamAPI {
  div.team {
    h2.team-name {
      color: $heading;
      font-size: $heading1;
      text-align: center;
    }
    h3.team-description {
      color: $subtitle-color;
      font-size: $heading2;
      text-align: center;
    }
    div.team-member:nth-child(odd) {
      background: $background-medium;
    }
    div.roster {
      margin-top: calc(#{$margin} * 2);
      display: flex;
      flex-direction: column;
      background: $background-dark;
      padding: $padding;
      h3 {
        color: $heading;
        font-size: $heading3;
      }
      div.team-member-accent {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: $padding;
        border-radius: $border-radius;
        h4.member-username {
          color: $accent;
          text-transform: uppercase;
        }
        p.member-status, p.member-quality {
          font-size: $small;
          color: $accent;
          text-align: center;
          text-transform: uppercase;
        }
      }
      div.team-member {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: $padding;
        border-radius: $border-radius;
        h4.member-username {
          color: $accent;
        }
        p.member-status, p.member-quality {
          font-size: $small;
          color: $light;
          text-align: center;
        }
        div.attackers, div.defenders {
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          align-items: center;
          justify-content: center;
          grid-column: span 2;
          margin: $margin;
          p {
            grid-column: span 6;
            color: $light;
            text-align: center;
            font-size: $small;
          }
          div img {
            width: 100%;
          }
        }
      }
    }
  }
}
