/* client/src/scss/style.scss */
/* scss/_theme.scss */
* {
  padding: 0;
  margin: 0;
  min-width: 0;
  min-height: 0;
  box-sizing: border-box;
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  color: #4d4d4d;
  z-index: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato";
  font-weight: 500;
  color: #212121; }

h1 {
  font-size: 42px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 20px; }

html, body {
  background: white;
  overflow-x: hidden; }

p {
  color: #4d4d4d;
  font-size: 16px; }

/* scss/components/_navigation.scss */
nav.nav {
  width: 100%;
  height: calc(96px - 2 * 8px * 4);
  padding: calc(8px * 4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dedede;
  background: white; }

ul.nav__head {
  display: flex; }

h3.nav__heading {
  font-size: 24px;
  color: #212121;
  font-weight: 400;
  margin-left: calc(8px * 3); }

ul.nav__body {
  display: flex;
  align-items: center;
  list-style-type: none; }

li.nav__item {
  display: inline;
  margin: 0 calc(8px * 2); }

a.nav__link {
  color: #212121;
  text-decoration: none;
  font-size: 16px; }

div.user-dropdown {
  position: relative;
  top: 0;
  left: 0;
  margin-right: 8px; }

img.user-dropdown__icon {
  width: 32px;
  height: 32px;
  margin-left: 8px;
  border-radius: 100%; }

img.user-dropdown__icon:hover {
  cursor: pointer; }

div.user-dropdown__body {
  padding: 8px;
  border-radius: 4px;
  position: absolute;
  top: calc(8px * 2);
  left: -200px;
  width: 200px;
  box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.3);
  background-color: white; }
  div.user-dropdown__body span#user-dropdown-title {
    display: block;
    margin-bottom: 8px;
    text-align: center; }
  div.user-dropdown__body a.user-dropdown__link {
    display: block;
    text-align: left; }

div.user-dropdown--inactive div.user-dropdown__body {
  display: none; }

div.user-dropdown--active div.user-dropdown__body {
  display: block; }

button.nav__button {
  display: none; }

/* scss/components/_user.scss */
/* scss/components/_page.scss */
div.page {
  background: #1565c0; }

div.page#dashboard {
  padding: calc(8px * 9);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: calc(8px * 6); }

/* scss/components/_form.scss */
/* client/src/scss/components/_alert.scss */
/* client/src/scss/components/_pagination.scss */
/* client/src/scss/api/_statistics-api.scss */
div#GeneralStatisticsAPI {
  grid-column: span 2; }

div#OperatorStatisticsAPI {
  grid-column: span 3; }

h2.statistics-title {
  text-align: center;
  margin-bottom: 8px; }

h3.stats-grid__heading {
  margin-bottom: calc(8px * 2);
  margin-top: calc(8px * 4); }

h4.stats__heading {
  text-align: center;
  color: #4d4d4d; }

img.user-image {
  display: block;
  margin: auto; }

div.stats-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: calc(8px * 2); }

div.stats-box {
  padding: calc(8px * 2);
  box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.3);
  transition: all 0.3s ease;
  border-radius: 4px; }

div.stats-box:hover {
  box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.3);
  transform: translateY(calc(-8px));
  transition: all 0.3s ease; }

div.stat {
  display: flex;
  justify-content: space-between; }
  div.stat p.stat__label {
    color: #707070; }

div.stat--main {
  display: block;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px; }
  div.stat--main span.stat__value {
    color: #1565c0;
    font-size: 24px; }

div#GeneralStatisticsAPI, div#SeasonalStatisticsAPI, div#OperatorStatisticsAPI {
  padding: calc(8px * 3);
  border: 1px solid #dedede;
  border-radius: 4px;
  background: white; }
