/* client/src/scss/components/_alert.scss */

div.alert-container {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100VW;
  max-width: $phone-max-width;
  padding: $padding-s;
  z-index: 5;
}

div.alert {
  position: relative;
  padding: $padding-s;
  padding-right: 56px;
  background: $background-primary;
  border: 3px solid $color-primary;
  box-shadow: $box-shadow-primary;
  right: calc(-100% - #{$padding-s});
  margin-top: $margin-s;
  animation-name: alert-appear;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
button.alert__button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  height: 100%;
  border-radius: 0;
}
button.alert__button:hover {
  background: $color-danger;
  box-shadow: none;
}
div.alert--error {
  border: 3px solid $color-danger;
}
div.alert--success {
  border: 3px solid $color-success;
  button.alert__button:hover {
    background: $color-success;
  }
}

@keyframes alert-appear {
  0% {
    right: calc(-100% - #{$padding-s});
  }
  100% {
    right: 0;
  }
}
