/* client/src/scss/components/_button.scss */

button {
  background: linear-gradient(to right, #{$background-primary}, #{$background-primary});
  border: $border-primary;
  outline: none;
  padding: $padding-s;
  color: rgba(255, 255, 255, 0.95);
  border-radius: $border-radius;
  filter: opacity(0.95);
  transition: all 0.3s ease;
}
button:hover {
  cursor: pointer;
  box-shadow: $box-shadow-primary;
  filter: opacity(1.0);
  transition: all 0.3s ease;
}
button.button--danger {
  border: 1px solid $color-danger;
}
button.button--danger:hover {
  background: $color-danger;
}
