/* client/src/scss/components/_button.scss */

button.button {
  border-radius: $border-radius;
  color: white;
  background: $color-primary;
  padding: 8px calc(#{$padding} * 2);
  border: none;
  box-shadow: $box-shadow-tertiary;
  transition: all 0.3s ease;
}
button.button--secondary {
  background: $color-secondary;
}
button.button:hover {
  cursor: pointer;
  transform: translateY(-2px);
  transition: all 0.3s ease;
}
button.button:active, button.button:focus {
  border: none;
  background: $color-secondary;
  transition: all 0.3s ease;
}
