/* client/src/scss/components/_dropdown.scss */

div.dropdown {
  margin: 0 !important;
  padding: 0;
  position: relative;
  z-index: 2;
  p.dropdown-title {
    cursor: pointer;
  }
  p.dropdown-title:hover {
    text-decoration: underline;
  }
}
div.dropdown-body {
  position: absolute;
  top: 36px;
  left: 0;
  background: $background-primary;
  padding: $padding-s 4px;
  margin: 0 !important;
  border: $border-primary;
  display: none;
  visibility: hidden;
  width: 144px;
}
div.dropdown--active p.dropdown-title {
  text-decoration: underline;
}
div.dropdown--active div.dropdown-body {
  display: block;
  visibility: visible;
  box-shadow: $box-shadow-primary;
  p:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
