/* client/src/scss/components/_footer.scss */

footer.footer {
  width: 100%;
  padding: $padding-s;
  z-index: 1;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: $margin-s;
  padding-bottom: $padding-m;
  div.footer__section {
    width: 100%;
    p, a {
      text-align: center;
      width: 100%;
      display: block;
      font-size: 10px;
    }
    a:hover {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: #{$phone-max-width}) {
  footer.footer {
    margin-top: 156px;
  }
}
