/* scss/components/_form.scss */

input, select, textarea {
  display: inline-block;
  padding: $padding-m;
  border: none;
  outline: none;
  color: $text-subtle;
  font-size: $font-body;
  transition: all 0.3s ease;
  border-radius: $border-radius;
  background-color: $background-quaternary;
}
input:hover, textarea:hover {
  cursor: text;
}
input:focus, textarea:focus {
  border: none;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: $box-shadow-primary;
}

.form__heading {
  font-size: $font-heading1;
  text-align: center;
  font-weight: bold;
  margin-top: $margin-s;
  margin-bottom: $margin-s;
}
.form__error {
  color: $color-danger;
  font-size: $font-small;
  margin-top: $margin-xs;
}
.form__description {
  color: $text-subtle;
  font-size: $font-small;
  margin-top: $margin-xs;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  margin: $margin-s auto;
  padding: $padding-s;
}

fieldset a {
  color: $color-primary;
  margin-top: 4px;
}
fieldset a:hover {
  cursor: pointer;
}

label {
  color: $text-subtle;
  font-size: $font-subtitle;
  filter: opacity(0.9);
  margin-bottom: $margin-xs;
}

form button {
  display: block;
  margin: auto;
  width: 128px;
  padding: $button-padding-big;
  margin-top: $margin-m;
  background: linear-gradient(#{$color-primary}, #{$color-secondary});
  border: none;
  transition: all 0.3s ease;
}
form select option {
  color: $text-subtle;
  padding: $padding-s;
  font-family: "Roboto";
}
