/* scss/components/_navigation.scss */

nav.nav {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 68px;
  z-index: 4;
}

ul.nav__head {
  display: flex;
  align-items: center;
  padding-left: $padding-s;
  img.nav__image {
    width: 48px;
  }
}
h3.nav__heading {
  margin-left: $margin-s;
}

ul.nav__body {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
li.nav__item {
  display: flex;
  margin-right: $margin-s;
  align-items: center;
  background-color: $background-quaternary;
  border-radius: $border-radius;
  a.nav__link {
    color: $text-subtle;
    font-size: 12px;
    height: 100%;
    padding: $button-padding;
    box-shadow: $box-shadow-secondary;
    border-radius: $border-radius;
  }
}
li.nav__item:hover {
  background: $background-secondary;
  transition: all 0.3s ease;
  a.nav__link {
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: $box-shadow-primary;
    i.fa {
      color: $text-heading;
      cursor: pointer;
    }
  }
}
a.nav__link {
  text-decoration: none;
  transition: all 0.3s ease;
  i.fa {
    color: $text-subtle;
    font-size: 12px;
    margin-right: $margin-xs;
  }
}
a.nav__link--active {
  position: relative;
  background-color: $color-primary;
  border-radius: $border-radius;
  color: $text-heading;
}

button#nav__button {
  display: none;
  z-index: 5;
}

div.user-dropdown {
  position: relative;
  z-index: 1;
  i.user-dropdown__icon {
    color: $text-accent;
    background: $background-quaternary;
    border-radius: $border-radius;
    font-size: 12pt;
    margin-right: $margin-s;
    padding: $button-padding;
    box-shadow: $box-shadow-secondary;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    span {
      font-size: 12px;
      margin-left: $margin-xs;
      color: $text-subtle;
    }
  }
  i.user-dropdown__icon:hover, i.user-dropdown__icon *:hover {
    cursor: pointer;
    box-shadow: $box-shadow-primary;
    transition: all 0.3s ease;
    color: $text-heading;
    background: $background-secondary;
  }
  div.user-dropdown__body {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 58px;
    right: 12px;
    min-width: 200px;
    padding: $padding-m;
    border-radius: $border-radius;
    background: $background-quaternary;
    z-index: 1;
    box-shadow: $box-shadow-primary;
  }
  span#user-dropdown-title {
    text-align: center;
    color: $text-heading;
    margin-bottom: $margin-s;
  }
  a.user-dropdown__link {
    text-decoration: none;
    text-align: center;
    padding: $button-padding;
    background: $color-primary;
    border-radius: $border-radius;
    transition: all 0.3s ease;
    margin-top: $margin-xs;
    i.fa {
      color: $text-subtle;
      font-size: 12px;
      margin-right: $margin-xs;
    }
  }
  a#logout-link {
    background: $color-danger;
  }
  a.user-dropdown__link:hover {
    cursor: pointer;
    text-decoration: none;
    box-shadow: $box-shadow-secondary;
    color: $text-heading;
    i.fa {
      color: $text-heading;
      cursor: pointer;
    }
    transition: all 0.3s ease;
  }
}
div.user-dropdown--inactive {
  div.user-dropdown__body {
    opacity: 0;
    display: none;
    height: 0px;
  }
}
div.user-dropdown--active {
  div.user-dropdown__body {
    opacity: 1;
    display: flex;
    height: auto;
  }
}

@media screen and (max-width: #{$tablet-max-width}) {
  @keyframes nav-transform {
    0% {
      left: -100VW;
    }
    100% {
      left: 0;
    }
  }
  @keyframes nav-transform-reverse {
    0% {
      left: 0;
    }
    100% {
      left: -100VW;
    }
  }
  nav.nav {
    position: relative;
  }
  button#nav__button {
    display: flex;
    align-items: center;
    position: absolute;
    right: 16px;
    font-size: $font-heading1;
    border: $border-primary;
    height: 64px;
  }
  ul.nav__body {
    position: fixed;
    top: 0px;
    left: -100VW;
    width: 80VW;
    height: 100VH;
    background: linear-gradient(#{$color-primary}, #{$color-secondary});
    flex-direction: column;
    justify-content: center;
    li.nav__item {
      height: 32px;
      margin: $margin-s 40px $margin-s auto;
      transition: all 0.3s ease;
      a.nav__link {
        font-size: $font-heading1;
        color: $text-heading;
      }
    }
    li.nav__item:hover {
      background: none;
    }
    a.nav__link--active {
      border-bottom: 2px solid white;
    }
    div.user-dropdown {
      width: 100%;
      img {
        display: none;
      }
      div.user-dropdown__body {
        margin-top: $margin-l;
        position: relative;
        top: 0;
        right: 0;
        background: transparent;
        border: none;
        opacity: 1;
        display: flex;
        span {
          display: none;
        }
        a.user-dropdown__link {
          font-size: $font-heading1;
          color: $text-heading;
          text-align: right;
          margin-right: 40px;
        }
        a#logout-link {
          margin-top: $margin-m;
        }
      }
    }
  }
  nav.nav--inactive ul.nav__body {
    animation-name: nav-transform-reverse;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-direction: normal;
  }
  nav.nav--active ul.nav__body {
    animation-name: nav-transform;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-direction: normal;
    box-shadow: 30px 0px 50px rgba(0, 0, 0, 0.5);
  }
  nav.nav--active button#nav__button {
    position: fixed;
    top: 0;
    right: 0px;
  }
}
@media screen and (max-width: #{$phone-max-width}) {
  nav.nav ul.nav__body {
    width: 100VW;
  }
  button#nav__button {
    background: transparent;
    border: none;
  }
  button#nav__button:hover {
    box-shadow: none;
  }
}
