/* scss/components/_page.scss */

div.page-wrapper {
  height: 100%;
}
div.page {
  padding: $padding-m;
  z-index: 0;
  h1 {
    text-align: center;
  }
}

div.page#dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: $margin-m;
  h1 {
    grid-column: span 3;
  }
}

div.page#manage-team {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: $margin-m;
  h1 {
    grid-column: span 3;
  }
}

div.page#team, div.page#manage-team {
  h1 {
    color: $text-heading;
  }
}

div.page#strategies {
  padding: 0;
}



@media screen and (max-width: #{$tablet-max-width}) {
  div.page {
    padding: $padding-s;
  }
}
