/* scss/components/_page.scss */

div.page-wrapper {
  height: 100%;
}
div.page {
  background: $color-primary;
  padding: calc(#{$margin} * 6);
  min-height: 100VH;
}

div.page#dashboard {
  padding: calc(#{$padding} * 9);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: calc(#{$padding} * 6);
}

div.page#manage-team {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: $margin;
  height: 100%;
}
