/* scss/components/_page.scss */

div.page {
  background: $color-primary;
  padding: calc(#{$margin} * 6);
}

div.page#dashboard {
  padding: calc(#{$padding} * 9);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: calc(#{$padding} * 6);
}
