/* scss/components/_user.scss */

div#user {
  p.user-property {
    color: $subtle-accent;
    text-align: center;
  }
  div.account-section {
    background: $background-dark;
    border-radius: $border-radius;
    padding: $padding;
    margin: calc(#{$margin} * 2) auto;
    max-width: 1200px;
    h3 {
      font-size: $heading2;
      color: $accent;
      margin: $margin 0;
    }
    div.role {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 4px;
    }
  }
}

@media screen and (max-width: #{$phone-max-width}) {
  div#user {
    div.account-section {
      div.role {
        padding: $phone-padding;
        grid-template-columns: 1fr;
      }
    }
  }
}
