/* scss/components/_user.scss */

div.account-section {
  background: white;
  padding: calc(#{$padding} * 3);
  border-radius: $border-radius;
  margin-bottom: calc(#{$margin} * 4);
}

div.page#user {
  input, select {
    margin-top: $margin;
  }
}

div.account-section {
  div.role {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: $border-primary;
    border-radius: $border-radius;
    padding: calc(#{$padding} * 2);
    margin: $margin 0;
    h4 {
      grid-column: span 2;
    }
  }
  div.operators {
    border: $border-primary;
    border-radius: $border-radius;
    padding: calc(#{$padding} * 2);
    margin: $margin 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    h4 {
      grid-column: span 2;
    }
    div#SetAttackersAPI, div#SetDefendersAPI {
      fieldset.form__fieldset > div {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        p {
          grid-column: span 8;
        }
        input {
          display: none;
        }
        label {
          img {
            width: 100%;
            opacity: 0.5;
            transition: all 0.3s ease;
          }
        }
        label:hover img {
          box-shadow: $box-shadow-primary;
          cursor: pointer;
          opacity: 1;
          transition: all 0.3s ease;
        }
        input.attackers-form__input--checked + label img, input.defenders-form__input--checked + label img {
          transform: scale(0.8);
          box-shadow: $box-shadow-tertiary;
          opacity: 1;
        }
        span.form__error {
          grid-column: span 8;
        }
        button {
          grid-column: span 8;
        }
        button:hover {
          cursor: pointer;
          transform: translateY(-4px);
        }
      }
    }
  }
  div.update {
    padding: 0 calc(#{$padding} * 3);
  }
}

div.account-section--danger {
  border: 3px solid $color-danger;
  button {
    display: block;
    margin: auto;
  }
}

div#account-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: $margin;
  h3 {
    grid-column: span 2;
  }
  input, select {
    width: 100%;
  }
  button {
    margin: 0;
    margin-top: calc(#{$margin} * 2);
  }
}
