/* client/src/scss/style.scss */

// Import theme
@import "./_theme.scss";

// RESET
* {
  padding: 0;
  margin: 0;
  min-width: 0;
  min-height: 0;
  box-sizing: border-box;
  font-family: $font-primary;
  font-weight: 400;
  font-size: $font-body;
  color: $text-body;
}
*:hover {
  cursor: default;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-primary;
  font-weight: 600;
  color: $text-heading;
}
h1 {
  font-size: $font-title;
}
h2 {
  font-size: $font-heading1;
}
h3 {
  font-size: $font-heading2;
}
h4 {
  font-size: $font-heading3;
}
h5 {
  font-size: $font-subtitle;
}
h6 {
  font-size: $font-small;
}

div#root, div.container {
  height: 100%;
}

html {
  height: 100%;
}

html, body {
  background: $background-primary;
  overflow-x: hidden;
}
p {
  color: $text-body;
  font-size: $font-body;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#{$color-primary}, #{$color-secondary});
}

// Import components
@import "./components/_navigation.scss";
@import "./components/_user.scss";
@import "./components/_page.scss";
@import "./components/_form.scss";
@import "./components/_alert.scss";
@import "./components/_pagination.scss";
@import "./components/_toggle.scss";
@import "./components/_loading.scss";
@import "./components/_button.scss";
@import "./components/_footer.scss";

// Import APIs
@import "./api/_statistics-api.scss";
@import "./api/_account-api.scss";
@import "./api/_team-api.scss";
@import "./api/_strategies-api.scss";
