/* client/src/scss/style.scss */

// Import theme
@import "./_theme.scss";

// RESET
* {
  padding: 0;
  margin: 0;
  min-width: 0;
  min-height: 0;
  box-sizing: border-box;
  font-family: $body-font;
  font-size: $text;
  color: $subtle-accent;
  z-index: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font;
  color: $accent;
}
h1 {
  font-size: $heading1;
}
h2 {
  font-size: $heading2;
}
h3 {
  font-size: $heading3;
}
h4 {
  font-size: $heading4;
}

html, body {
  background: $background;
  overflow-x: hidden;
}
p {
  color: $subtle-accent;
  font-size: $text;
}

// Import components
@import "./components/_navigation.scss";
@import "./components/_header.scss";
@import "./components/_main-navigation.scss";
@import "./components/_user.scss";
@import "./components/_page.scss";
@import "./components/_form.scss";
@import "./components/_alert.scss";

// Import APIs
// Dashboard
@import "./api/_general-statistics.scss";
@import "./api/_seasonal-statistics.scss";
@import "./api/_operator-statistics.scss";
// Team
@import "./api/_view-team.scss";
@import "./api/_view-team-statistics.scss";
@import "./api/_leave-team.scss";
// Manage Team
@import "./api/_update-team-name.scss";
@import "./api/_manage-team.scss";
@import "./api/_delete-team.scss";
// Account
@import "./api/_set-attacker-role.scss";
@import "./api/_set-defender-role.scss";
@import "./api/_set-attackers.scss";
@import "./api/_set-defenders.scss";
@import "./api/_delete-user.scss";
// Strategies
@import "./api/_view-strategies.scss";
@import "./api/_create-strategy.scss";
