/* client/src/scss/style.scss */

// Import theme
@import "./_theme.scss";

// Import components
@import "./components/_navigation.scss";
@import "./components/_header.scss";
@import "./components/_main-navigation.scss";
@import "./components/_user.scss";
@import "./components/_page.scss";
@import "./components/_form.scss";

// Import APIs
// Dashboard
@import "./api/_general-statistics.scss";
@import "./api/_seasonal-statistics.scss";
@import "./api/_operator-statistics.scss";
// Team
@import "./api/_view-team.scss";
@import "./api/_view-team-statistics.scss";
@import "./api/_leave-team.scss";
// Account
@import "./api/_set-attacker-role.scss";
@import "./api/_set-defender-role.scss";
@import "./api/_set-attackers.scss";
@import "./api/_set-defenders.scss";
@import "./api/_delete-user.scss";

// RESET
* {
  padding: 0;
  margin: 0;
  min-width: 0;
  min-height: 0;
  box-sizing: border-box;
  font-family: $body-font;
  z-index: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font;
}

html, body {
  background: $background;
  overflow-x: hidden;
}
